<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/comuser/applyemploy/ApplyEmploy.css" rel="stylesheet" />
    <!--    <script src="js/jquery-3.7.0.min.js"></script>-->
    <script type="text/javascript" src="/static/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/smarteditor/sample/photo_uploader/jindo.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/smarteditor/sample/photo_uploader/jindo.fileuploader.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/smarteditor/sample/photo_uploader/attach_photo.js" charset="utf-8"></script>

    <title>채용 공고 신청</title>
</head>

<body>
<div class="s_header" th:replace="~{comuser/header/ApplyEmployHeader :: applyEmployHeader}"></div>
<main>
    <content>
        <div class="body">
            <div class="body_title">
                <span>공고</span>
                <span>신청</span>
            </div>

            <div class="body_title_right">
                <img src="images/home.png" alt="홈 아이콘" style="width: 20px;"> > 신청하기 > 공고 신청하기
            </div>

            <form>
                <button class="write_button">작성하기</button>
                <table>
                    <tr>
                        <td class="table_title">제목</td>
                        <td class="table_content"><input type="text" name="EmnotTitle" class="input_text" maxlength="25" /></td>
                        <td class="table_title">직종</td>
                        <td class="table_content"><input type="text" name="EmnotOcc" class="input_text" placeholder="디자인 / 프론트 / 백엔드" />
                        </td>
                    </tr>
                    <tr>
                        <td class="table_title">면접유형</td>
                        <td class="table_content"><input type="text" name="InterCate" class="input_text" placeholder="비대면: 0 / 대면: 1" /></td>
                        <td class="table_title">근무지역</td>
                        <td class="table_content"><input type="text" name="EmnotArea" class="input_text" /></td>
                    </tr>
                    <tr>
                        <td class="table_title">시작일</td>
                        <td class="table_content"><input type="date" class="input_date" name="EmnotStart" required /></td>
                        <td class="table_title">종료일</td>
                        <td class="table_content"><input type="date" class="input_date" name="EmnotEnd" required /></td>
                    </tr>
                    <tr>
                        <td class="table_title">경력</td>
                        <td class="table_content"><input type="text" class="input_text" placeholder="신입 / 경력"
                                                         maxlength="25" name="EmnotCareer" /></td>
                        <td class="table_title">학력</td>
                        <td class="table_content"><input type="text" class="input_text" maxlength="25" name="EmnotEducation" /></td>
                    </tr>
                    <tr>
                        <td class="table_title">근무형태</td>
                        <td class="table_content"><input type="text" class="input_text" maxlength="25" name="EmnotState" /></td>
                        <td class="table_title">급여</td>
                        <td class="table_content"><input type="text" class="input_text" maxlength="25" name="EmnotSalary" /></td>
                    </tr>
                    <tr class="apply-row">
                        <td colspan="4">
                            <textarea required name="EmnotContent" id="ir1" style="width: 900px; height: 300px;"></textarea>
<!--                            <input type="hidden" name="EmnotImage">-->
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </content>
    <div class="sidefooter" th:replace="~{comuser/sidefooter/ApplyEmploySidefooter :: applyEmploySidefooter}"></div>
</main>
<script>

    $(document).ready(function () {
        //**** 마우스오버  ****//
        //서브메뉴 숨기고 시작
        $(".subMenu").hide();
        // 마우스 오버
        $(".mainMenu, .subMenu").mouseover(function () {
            $(".subMenu").stop().slideDown(500);
        }).mouseout(function () {
            $(".subMenu").stop().slideUp(500);
        });
    });

    let oEditors = [];
    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "ir1",
        sSkinURI: "/static/smarteditor/SmartEditor2Skin.html",
        fCreator: "createSEditor2"
    });

    let subBtn = document.querySelector('.write_button');

    subBtn.onclick = () => {
        oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);
        const textarearvalue = document.querySelector("#ir1").value;
        // <!--        alert(textarearvalue);-->

        let formData = new FormData(document.querySelector("form"));

        formData.forEach((v, k) => {
            console.log("key: " + k);
            console.log("vlaue: " + v);
        })

        $.ajax({
            async: false,
            type: "post",
            url: "/comuser/save/employ",
            enctype: "multipart/form-data",
            contentType: false,
            processData: false,
            data: formData,
            success: (response) => {
                // <!--            마이페이지>내가신청한 공고리스트 페이지로 이동하게-->
                // <!--                location.replace("/a/a/" + lecCode);-->
                alert('성공');
            },
            error: (error) => {
                console.log(error);
            }
        })
    }
</script>
</body>

</html>