.side {
    background-color: #374658;
    width: 250px;
    height: 700px;
    position: relative;
    right: 525px;
}

.side > ul > li {
    color: white;
    font-size: 22px;
    padding-top: 10px;
}

.list {
    display: flex;
    flex-direction: column;
}

.font-c {
    color: #f1d2b0 !important;
}

.list span {
    padding: 5px;
    margin: 5px 0;
    color: white;
}

.back-c {
    background-color: rgba(
        255,
        255,
        255,
        0.2
    ); /* 마지막 값인 0.5는 투명도를 나타냄 (0이 완전 투명, 1이 완전 불투명) */
    margin: 0px;
}

.back-c2 {
    background-color: #374658;
    margin: 0px;
}

.back-3 {
    background-color: rgba(
        255,
        255,
        255,
        0.2
    ); /* 마지막 값인 0.5는 투명도를 나타냄 (0이 완전 투명, 1이 완전 불투명) */
    margin: 0px;
    height: 50px;
}

.bac {
    margin: 0px;
    height: 50px;
}

.list > span {
    cursor: pointer;
}
