<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="/static/css/admin/schedule/Calender.css" />
    <title>관리자 일정 관리</title>
</head>

<body>
<div class="s_header" th:replace="~{admin/header/ScheduleHeader :: scheduleHeader}"></div>
<div class="sidebar" th:replace="~{admin/side/ScheduleSide :: scheduleSide}"></div>
<div class="container">
    <div class="header_box">
        <div class="tit">
            <p>일정관리</p>
        </div>

        <div class="clo">
            <div class="color_box">
                <p>채용박람회</p>
                <p class="c1"></p>
            </div>
            <div class="color_box">
                <p>페어박람회</p>
                <p class="c2"></p>
            </div>
            <div class="color_box">
                <p>취업박람회</p>
                <p class="c3"></p>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="c_box">
        <button class="MonthDown"><</button>
        <h1 id="YearText" class="YearText"></h1>
        <h1 id="MonthText" class="MonthText"></h1>
        <button class="MonthUp">></button>
    </div>

    <div id="calendar">
    </div>
    <div style="display:none" th:each="list : ${ExpoStartDay}">
        <p class="ExpoDay" th:text="${list}"></p>
    </div>

    <div style="display:none" th:each="list : ${ExpoNames}">
        <p class="ExpoNames" th:text="${list}"></p>
    </div>
</div>
<!--<script src="/static/js/admin/schedule/Calender.js"></script>-->
<script th:inline="javascript">

let info = [[${EInfo}]];
console.log(info);

// 현재 날짜 정보 가져옴
var date = new Date();
var currentYear = date.getFullYear();
var currentMonth = date.getMonth() + 1; // 0부터 시작하므로 +1을 해준다.

var monthdown = document.querySelector('.MonthDown');
var monthup = document.querySelector('.MonthUp');

var Year = currentYear;
var Month = currentMonth;

var YearText = document.getElementById('YearText');
var MonthText = document.getElementById('MonthText');

YearText.innerHTML = `<h1 class="YearText">${Year}</h1>`;
MonthText.innerHTML = `<h1 class="MonthText">${Month}월</h1>`;


monthdown.onclick = () => {
    if (Month > 1) {
        Month--;
    } else {
        Month = 12;
        Year--;
    }
    updateCalendar();
};

monthup.onclick = () => {
    if (Month < 12) {
        Month++;
    } else {
        Month = 1;
        Year++;
    }
    updateCalendar();
};

let ExpoDay = document.querySelectorAll(".ExpoDay");
let ExpoNames = document.querySelectorAll(".ExpoNames");

// 달력 생성 함수
function generateCalendar(year, month) {

    let d1 = 0;
    let d2 = 0;
    let d3 = 0;

    var calenderYear = year;
    var calMonth = month;

    var MonthLastDate = new Date(calenderYear, calMonth, 0);
    console.log(MonthLastDate);

    var calMonthLastDate = MonthLastDate.getDate();
    console.log(calMonthLastDate);

    // 주의 시작 요일을 일요일(0)로 설정
    var calMonthStartDate = new Date(calenderYear, calMonth - 1, 1).getDay();

    console.log(calMonthStartDate);

    var calWeekCount = Math.ceil((calMonthStartDate + calMonthLastDate) / 7);
    console.log(calWeekCount);

    var html = '';
    html +=
        '<table style="border-collapse: collapse; margin-left: auto; margin-right: auto;">';
    //위치
    var calendarPos = 0;
    //날짜
    var calendarDay = 0;
    html +=
        '<tr class="days" style="height:50px";><th style="color: red;">일요일</th><th>월요일</th><th>화요일</th><th>수요일</th><th>목요일</th><th>금요일</th><th style="color: blue;">토요일</th></tr>';
    for (var index1 = 0; index1 < calWeekCount; index1++) {
        //tr을 weekCount만큼 반복해줌 즉 6번
        html += '<tr>';

        for (var index2 = 0; index2 < 7; index2++) {
            var isSunday = index2 === 0; // 일요일 확인
            var isSaturday = index2 === 6; // 토요일 확인
            var cellStyle =
                'border: solid 1px black; width:150px; height:150px;';
            if (isSunday) {
                cellStyle += 'color: red;';
            } else if (isSaturday) {
                cellStyle += 'color: blue;';
            }
            html += `<td style="${cellStyle}">`;
            if (
                calMonthStartDate <= calendarPos &&
                calendarDay < calMonthLastDate
            ) {
                calendarDay++;
                html +=
                    '<span style="display: flex; padding: 10px; position: relative; bottom: 20px;">' +
                    calendarDay +
                    '</span>';

                for(let i = 0; i < info.length; i++) {
                    let expoStart = info[i].expo_start;

                    let datetext = expoStart.split('-');
                    d1 = datetext[0];
                    d2 = datetext[1];
                    d3 = datetext[2];

                    console.log("sdfsdf",d1,d2,d3);

                    let SpanStyle = 'display:flex;';

                    if (calenderYear == d1 && calendarDay == d3 && calMonth == d2) {
                        let expoName = info[i].expo_title;
                        if(info[i].expo_cate == 1){
                            SpanStyle += 'color:#EA8874;';
                        }else if(info[i].expo_cate == 0){
                            SpanStyle += 'color:#374658;';
                        }else if(info[i].expo_cate == 2){
                            SpanStyle += 'color:#F1D2B0;';
<!--                            "alert(${info[i].expo_code})"-->
                        }
                        html += `<span class="sch" onclick="location.href='/admin/expo/info/' + ${info[i].expo_code}"; style="${SpanStyle}">${expoName}</span>`;
                    }

                }


            } else {
                html +=
                    '<span style="display: block; padding: 10px 10px;"></span>';
            }
            html += '</td>';
            calendarPos++;
        }
        html += '</tr>';
    }
    html += '</table>';
    return html;
}

// 달력 업데이트 함수
function updateCalendar() {
    YearText.innerHTML = `<h1 class="YearText">${Year}</h1>`;
    MonthText.innerHTML = `<h1 class="MonthText">${Month}</h1>`;

    // 새로운 월과 연도에 대한 달력을 생성하고 업데이트합니다.
    var calendar = generateCalendar(Year, Month);
    $('#calendar').html(calendar);
}

// 페이지 로드 시 달력 업데이트
updateCalendar();


</script>
</body>
</html>
