table, td{
    /* border: 1px solid #000; */
    border-collapse: collapse;
}

table{
    position: absolute;
    top: 162px;
    border-top: 1px solid #929292;

}

.table_title{
    color: #505050;
    padding: 2px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 120px;
    height: 28px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #929292;
}

.table_content{
    padding: 2px;
    font-size: 13px;
    width: 430px;
    height: 25px;
    border-bottom: 1px solid #929292;

}

.input_text{
    color: #505050;
    font-weight: bold;
    width: 420px;
    height: 17px;
    border: none;
    outline: none;
}

.input_date{
    margin-left: 5px;
    padding-left: 10px;
}

.write_button{
    position: absolute;
    top: 125px;
    left: 1008px;
    background-color: #374658;
    color: white;
    width: 90px;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
}