/** {
    margin: 0 auto;
}*/

body {
    width: 1100px;
}

.con {
    display: flex;
}

.header-title {
    display: flex;
    width: 950px;
    justify-content: space-between;
    background-color: #374658;
    color: white;
    font-size: 20px;
}

.header-title p {
    width: 190px;
    text-align: center;
    padding-top: 15px;
}

.logo {
    width: 150px;
    margin: 0;
    /* background-color: #374658; */
}

.logo-img {
    width: 100%;
}

.back-color {
    background-color: #ea8874;
    /* width: 100px; */
    /* height: 50px; */
}