.detail_wrap {
position:absolute;
top:-40px;
left:650px;
}
    .nt_title {
    position: absolute;
    top: 130px;
    left:0;
    width: 700px;
    text-align: center;
    color: #787878;
    font-weight: 700;
    font-size: 13pt;
 }
 .view_info {
    position: absolute;
    top: 165px;
    width: 700px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
 }
 .view_info > div {
    display: inline-block;
 }
 .writer,  .date, .see {
    width: 70px;
    height: 30px;
    background: #eee;
    color: #787878;
    text-align: center;
    font-weight: 700;
    font-size: 12pt;
    line-height: 30px;
 }
 .date{
    position: absolute;
    left: 300px;
 }
 .see{
    position: absolute;
    right: 100px;
 }
 .nt_dt {
 margin-left:255px;
 }
 .nt_cnt {
  margin-left:140px;
 }
 .download {
    width: 700px;
    height: 30px;
    position: absolute;
    top: 210px;
    text-align: right;
    left: -200px;
    color: #787878;
    font-size: 11pt;
    font-weight: 700;
 }

 .content {
    width: 700px;
    height:500px;
    border: 2px solid #ccc;
    position: absolute;
    top:240px;
    left: 0px;
 }
 .list, .edit, .delete {
    border: 2px solid #ccc;
    width: 110px;
    height: 30px;
    color: #fff;
    background-color: #374658;
    position: absolute;
    top:770px;
    left: 160px;
    bottom: 120px;
    cursor: pointer;
  }
  .edit {
  left:290px;
  }
  .delete {
  left:420px;
  }