<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/admin/notice/NoticeDetail.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/static/js/admin/notice/jquery-3.7.0.min.js"></script>

    <title>공지사항 상세 페이지</title>
</head>

<body>
<div class="s_header" th:replace="~{admin/header/ScheduleHeader :: scheduleHeader}"></div>
<div class="sidebar" th:replace="~{admin/side/ScheduleSide :: scheduleSide}"></div>

<!--    관리자 공지사항 상세-->
<div class="detail_wrap">
        <!-- 제목부분 -->
    <div class="nt_title">
        <div th:text="${notice.not_title}"></div>
    </div>
        <!-- 작성자 등록일 조회수 -->
    <div class="view_info">
        <div class="writer">작성자</div><div>관리자</div>

        <div class="date">등록일</div><div th:text="${notice.not_date}" class="nt_dt"></div>

        <div class="see">조회수</div><div th:text="${notice.not_cnt}" class="nt_cnt"></div>
    </div>
    <!-- 첨부파일 다운로드 -->
    <div class="download">
        <span>첨부파일 다운로드 : </span>
    </div>
    <!-- 공지사항 안내 이미지 -->
    <!-- 스마트 에디터 사용 시 어떻게 보이는 지 봐야한다 -->

    <!-- 내용  -->
    <div class="content" th:utext="${notice.not_content}"></div>
    <!-- 목록으로돌아가기 -->
    <button class="list"><a href="/admin/show/nt" style="color:#fff; text-decoration:none;">목록</a></button>
    <button class="edit"><a href="" style="color:#fff; text-decoration:none;">수정</a></button>
    <button class="delete"><a th:href="@{/admin/show/nt/{notCode}(notCode=${msg.not_code})/delete}" style="color:#fff; text-decoration:none;">삭제</a></button>
</div>
</body>
</html>
